.container-form-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0rem 8rem 6rem 8rem;
}

.form-register{
    display: flex; 
    flex-direction: column;
    background-color: #def2fe;
    width: 100%;
    padding: 1rem 5rem;
    border-radius: 8px;
    gap: 1rem;
}

.form-register h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.form-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem 2rem;
}

.input-group-doc{
    display: inline-flex;
    flex-direction: row;
}

.input-group label{
    font-size: 16px;
    padding: .2rem;
}

.input-group input{
    width: 100%;
    font-size: 16px;
    padding: .6rem;

    outline: none;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #fff;
}

.input-group input::file-selector-button {
    padding: .4rem;
    border: none;
    background: var(--primary-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.input-group input[type="file"]{
    padding: .23rem;
}

.input-group span{
    color: red;
}

.input-group select{
    color: #000;
    font-size: 16px;
    padding: .6rem;

    cursor: pointer;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #fff;
}

.input-group select[id="documento"]{
    color: white;
    background-color: var(--primary-color);
}

.input-group ul{
    padding-left: 1.2rem;
}

.input-group p{
    font-size: 14px;
    margin-top: .5rem;
}

.form-responsible{
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
}

.form-responsible h2{
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}

.responsible-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: .8rem 0rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.responsible-area h3{
    text-align: left;
    font-size: 1.2rem;
    padding: 1rem;
}

.terms-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1rem;
}

.term{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: .6rem;
}

.term input[type="checkbox"]{
    width: 100%;
    transform: translateY(4px);
    width: 45px;
    height: 45px;
    margin-right: .6rem;
    cursor: pointer;
    accent-color: #fff;
}

.term p{
    font-size: 16px;
}

.btn{
    width: fit-content;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 2rem;

    font-size: 18px;
    padding: .6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


@media (max-width: 768px){

    .form-register{
        padding: .5rem;
    }

    .container-form-register{
        padding: 0rem 1rem;
    }

    .responsible-area{
        grid-template-columns: 1fr;
        padding: 0rem;
    }

    .form-grid{
        grid-template-columns: 1fr;
    }

    .input-group{
        padding: .4rem;
    }
}