.container-create-acount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background-color);
}

.container-create-acount .backbutton{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.backbutton button{
    height: 45px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 700;
    padding: 1rem;
    margin: 6rem 3rem 1rem 3rem;
    background-color: var(--primary-color);
}
