.container-create-acount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background-secondary-color);
    margin-top: 2rem;
}

.container-create-acount .backbutton{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

/* Icone de volta */
.icon-back{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    transform: translateY(-50%);
    fill: #fff;
}

/* botao de volta */
.backbutton button{
    position: absolute;


    padding: 1rem 2rem;
    margin: 3rem 3rem 1rem 3rem;
    left: 80px;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
}

/* Mobile */
@media (max-width: 768px){
    .backbutton button{
        left: 10px;
        margin: 3rem 0rem;
    }
}
