/* Estrutura da página */

.container-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 0 5rem;
}

/* Estrutura do formulário */

.container-password form{
    width: 100%;
    max-width: 480px;
    align-items: center;
    padding: 1rem;
    background-color: #def2fe;
    border-radius: 12px;
}

/* Título */

.container-password h1{
    font-size: 30px;
    text-align: center;
    padding: 1rem;
}

/* Conteúdo principal da página */

.container-password .content{
    display: flex;
    justify-content: left;
    text-align: left;
    padding: .5rem .8rem;
    margin: 0;
}

.container-password .field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0px 40px 0px ;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
}

.container-password button {
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-shadow: none;
}

/* Link de navegaçao para login */

.container-password .link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.container-password a:hover{
    text-decoration: underline;
}

/* Mensagem de status */

.success{
    color: #28a745;
    font-size: 14px;
    margin-top: 1rem;
}

.error{
    color: #e42727;
    font-size: 14px;
    margin-top: 1rem;
}