/* Estrutura geral */
.container-login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
}



/* Estrutura do formulário de login*/
.container-login form{
    width: 100%;
    max-width: 480px;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
     rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
      rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
       rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* Título */
.container-login h1{
    font-size: 30px;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}

/* Campos do formulário */
.container-login .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0px 5px 0px;
}

.input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Icones */
.input-field .icon-profile {
    position: absolute;
    height: 17px;
    width: 17px;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.input-field .icon-password {
    position: absolute;
    height: 17px;
    width: 17px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

/* Botão mostrar senha */
.container-login .button-showpassword{
    position: absolute;
    background-color: #fff;
    height: 17px;
    width: 17px;
    right: 25px;
    margin: 0px;
    top: 50%;
    transform: translateY(-50%);
    
}

/* Esqueci a senha */
.container-login .recall-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    padding: 8px 0px 20px 10px;
}

.recall-forget a:hover{
    text-decoration: underline;
}

/* Lembre de mim */
.container-login .checkbox-remember{
    margin-right: 4px;
    accent-color: #fff;
    
}

input[type="checkbox"] {
    transform: translateY(1px);
    width: 14px;
    height: 14px;
}

/* Botão entrar */
.container-login .button-entry {
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Link para "Criar Conta" */
.signup-link p {
    padding: 3rem .5rem 1rem .5rem;
    cursor: default;
}

.signup-link p a:hover {
    text-decoration: underline;
}

/* mensagem de erro */
.error-message{
    text-align: center;
    padding-top: 2rem;
    color: rgb(230, 9, 9);
}

.error-message[id="emailError"]{
    text-align: left;
    padding-top: .4rem;
    margin-left: 1rem;
}

/* versão mobile */
@media (max-width: 768px){

    .container-login{
        padding: 1rem;
    }
}




